{% load static %}

{% block answer %}
<div class="answer row">
                        <div class="card col">
                            <div class=" row align-items-start">
                                <div class="col-2">
                                    <img src="https://e7.pngegg.com/pngimages/842/277/png-clipart-rubber-duck-rubber-duck.png"
                                         style="max-width: 100%" class="img-fluid rounded-start" alt="...">
                                    <div class=" row align-items-start">
                                        <input type="number" value="0" size="6" min="0"
                                               style="max-width: 50%; margin-left: 10px"/>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                            additional content. This content is a little bit longer....</p>
                                        <div class="row align-items-start">
                                            <div class="col-sm-4">
                                                <input type="checkbox"/>
                                                <label>Correct</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock answer %}