{% load static %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/mainPage.css" %}" rel="stylesheet">
    <title>Hello, world!</title>
</head>
<body>

<!-- Optional JavaScript; choose one of the two! -->
<span style="background: red">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <h1 class=" logo col-lg-3" ><a href="{% url "index" %}" >Askme Kulikov </a></h1>
            <form class="d-flex col-lg-7">
                <input class="form-control me-2 " type="search" placeholder="type your question" aria-label="Search">
                <div class="btn btn-outline-success" type="submit" onclick="window.location.href = '{% url "new" %}'">Ask!</div>
            </form>
            <div class="user-info col-lg-2">
              <div class="row">
                  <div class=" col-sm-5">
                <img src="https://e7.pngegg.com/pngimages/842/277/png-clipart-rubber-duck-rubber-duck.png"
                     style="max-width: 100px">
            </div>
            <div class="col-sm-7">
                <div class="row-cols-1">Mr.martin</div>
                <div class="links row-cols-2">
                    <a href="{% url "settings" %}">settings</a>
                    <a href="{% url "login" %}">logout</a>
                </div>
            </div>
              </div>

            </div>

        </div>
    </nav>
</span>

<div class="container-fluid">

        <div class="mb-4">
        <hr class="solid">
    </div>
    <div class="row">
        {% block content %}
        {%  endblock content %}
        <div class="add-info col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="container-sm">
            <span class="Title tags row">
                  <h1>Popular tags</h1>
              </span>
                <div class="tags body row">
                    <span class="row tags-row"> <div class="tag perl col-4" href="">perl</div> <div
                            class="tag python col-4" href="">python</div>  <div class="tag java col-4"
                                                                                href="">java</div></span>
                    <span class="row"> <div class="tag Mysql col-4">Mysql</div> <div class="tag django col-4" href="">django</div> <div
                            class="tag c++ col-4" href="">c++</div></span>
                </div>
                <span class="Title members row">
                  <h1>Best Members</h1>
              </span>
                <div class="members col-12">
                    <a class="member row" href="">Mr.Martin</a>
                    <a class="member row" href="">Mr.Bob</a>
                    <a class="member row" href="">Vasily</a>
                    <a class="member row" href="">Best friend</a>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
-->
</body>
</html>