{% if type == "tag" %}
    {% block tag %}
        <span class="title main container-fluid">
            <div class="questions row tag align-items-start">
                <h1 class="col-1">Tag:</h1>
                <h1 class="col-1">{{ tag}}</h1>
            </div>
        </span>
    {% endblock tag %}
{% elif type == "hot" %}
    {% block hot %}
        <span class="title main container-fluid">
            <div class=" questions row align-items-start">
                <h1 class="col-3">Hot questions</h1>
                <div class="hot col-2" style="display: block">
                    <a href="{% url "index" %}">New questions</a>
                </div>
            </div>
        </span>
    {% endblock hot %}
{% else %}
    {% block new %}
        <span class="title main container-fluid">
            <div class=" questions row align-items-start">
                <h1 class="col-3">New questions</h1>
                <div class="hot col-2" style="display: block">
                    <a href="{% url "hot" %}">Hot questions</a>
                </div>
            </div>
        </span>
    {% endblock new %}
{% endif %}
