<ul class="pagination">
      {% if questions.has_previous %}
          <li class="page-item ">
              <a class="page-link" href="?page=1">First</a>
          </li>
          <li class="page-item">
              <a class="page-link" href="?page={{ questions.previous_page_number }}">{{ questions.previous_page_number }}</a>
          </li>
      {% else %}
          <li class="page-item disabled">
              <span class="page-link">Previous</span>
          </li>
      {% endif %}
      <li class="sr-only page-item active">
          <a class="page-link" href="#">{{ questions.number }}</a>
      </li>

        {% if questions.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ questions.next_page_number }}">{{questions.next_page_number }}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ questions.paginator.num_pages }}">Last</a>
            </li>
        {% else %}
            <li class="page-item disabled">
              <span class="page-link">Last </span>
            </li>
        {% endif %}
</ul>
