{% block content %}
<div class="Question row">
                        <div class="card col">
                            <div class=" row align-items-start">
                                <div class="col-2">
                                    <img src="https://e7.pngegg.com/pngimages/842/277/png-clipart-rubber-duck-rubber-duck.png"
                                         style="max-width: 100%" class="img-fluid rounded-start" alt="...">
                                    <div class=" row align-items-start">
                                        <input type="number" value="0" size="6" min="0"
                                               style="max-width: 50%; margin-left: 10px"/>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="card-body">
                                        <a class="card-title" href="{% url "question" question.id %}">{{ question.title }}</a>
                                        <p class="card-text">{{question.text}}</p>
                                        <div class="row align-items-start">
                                            <div class="col-sm-8">
                                                <a href="">answers(3)</a>
                                                Tags:
                                                <a href="{% url "tag" question.tag %}">{{ question.tag }}</a>
                                            </div>

                                            <div class="col-sm-4"><small class="text-muted">Last updated 3 mins
                                                ago</small></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock content %}