body{
    background: #f8f8f8;
}
hr.solid {
    border-top: 2px solid #999;
}
.Questions .Question{
    padding-top: 30px;

}
.tags h1{
    font-size: xxx-large;
}
.tags .tag{
    font-family: Chandas;
    font-size: xx-large;
    font-style: italic;
}
.tags .python{
    color: red;
}
.tags .MySql{
    color: green;
}
.member{
    margin-left: 10px;
}

.title .questions .hot{
    transform: translateY(50%);
}
.pagination{
    margin: 10px;
}
.answer{
    margin: 20px;
}
.questions .tag{

}

.avatar input{
    margin-top: 20px;
}
.login .wrong{
    color: darkred;
    margin-bottom: 10px;
}
.navbar .logo a{
    text-decoration: none;
    color: #000000;
}
.user-info{
    padding-left: 10px;
}