{%  extends "incl/base.html" %}
{% load static %}

{% block content %}
    <span class="title main container-fluid">
    <div class=" questions row align-items-start">
        <h1 class="col-3">Best questions</h1>
        <div class="hot col-2" style="display: block">
            <a href="{% url "index" %}">New questions</a>
        </div>
    </div>
    </span>
    <div class="main-info col-lg-8 col-md-8 col-sm-6 col-xs-6">
            <div class="container-fluid">
                <div class="Questions row">
                    {% for question in questions %}
                        {% include "incl/singleQuestion.html" %}
                    {% endfor %}

                </div>
            </div>

        {% include "incl/paginator.html" %}
        </div>
{% endblock content %}