{%  extends "incl/base.html" %}

{% load static %}

{% block content %}
    {% include "incl/header.html" %}
    </span>
    <div class="main-info col-lg-8 col-md-8 col-sm-6 col-xs-6">
            <div class="container-fluid">
                <div class="Questions row">
                    {% for question in questions %}
                        {% include "incl/singleQuestion.html" %}
                    {% endfor %}

                </div>
            </div>

        {% include "incl/paginator.html" %}
        </div>
{% endblock content %}