{% extends "incl/base.html" %}
{% load static %}
{% block content %}
    <div class="main-info col-lg-8 col-md-8 col-sm-6 col-xs-6">
            <div class="container-fluid">
                <span class="title main container-fluid">
                    <div class=" questions row align-items-start">
                        <h1 class="col-3">Log In</h1>
                    </div>
                </span>

                <div class="login input form">
                    <div class="wrong row col-3 container-fluid">
                        Sorry, wrong password!
                    </div>
                    <div class="input-group mb-3 container-fluid">
                        <div class="col-2">
                            <p>Login :</p>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        </div>

                    </div>
                    <div class="input-group mb-3 container-fluid">
                        <div class="col-2">
                            <p>Password :</p>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        </div>
                    </div>
                </div>
                    <div class="register input-group mb-3 container-fluid">
                        <div class="col-2"></div>
                        <button type="button" class="btn btn-dark col-3" style="width: 25%;margin-top: 10px">Log In</button>

                    </div>
                <div class="register input-group mb-3 container-fluid">
                    <div class="col-2"></div>
                    <a class="new-account col-3" href="{% url "register" %}">Create new account!</a>

                </div>

            </div>
        </div>

{% endblock content %}
