{% extends "incl/base.html" %}
{% load static %}
{% block content %}
<span class="title main container-fluid">
    <div class=" questions row align-items-start">
        <h1 class="col-3">New question</h1>
    </div>
    </span>
<div class="main-info col-lg-8 col-md-8 col-sm-6 col-xs-6">
            <div class="container-fluid">
                <div class="Question input form">

                    <div class="input-group mb-3 container-fluid">
                        <div class="col-2">
                            <p>Title :</p>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        </div>

                    </div>
                    <div class="input-group mb-3 container-fluid">
                        <div class="col-2">
                            <p>Description :</p>
                        </div>
                        <div class="col-10">
                            <textarea type="text" class="form-control"
                                      style="height: 200px"></textarea>
                        </div>

                    </div>
                    <div class="input-group mb-3 container-fluid">
                        <div class="col-2">
                            <p>Tags :</p>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                            <button type="button" class="btn btn-dark" style="width: 20%;margin-top: 10px">Ask</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
{% endblock content %}