{%  extends "incl/base.html" %}

{% load static %}

{% block content %}
<div class="Questions-row col-lg-8 col-md-8 col-sm-6 col-xs-6">

    {% include "incl/singleQuestion.html" %}
    <div class="mb-4">
                        <hr class="solid">
                    </div>
    <div class="container-fluid row">
        {% include "incl/answer.html"%}
        {% include "incl/answer.html"%}
    </div>
    <div class="input-group mb-3 container-fluid">
                        <div class="col-12">
                            <textarea class="form-control" placeholder="Put your message here...."
                                      style="height: 200px"></textarea>
                        </div>
                        <button type="button" class="btn btn-dark" style="width: 20%;margin-top: 10px">Answer</button>
                    </div>
</div>
{% endblock content %}