{% extends "incl/base.html" %}
{% load static %}

{% block content %}
        <div class="main-info col-lg-8 col-md-8 col-sm-6 col-xs-6">
            <div class="container-fluid">
                <span class="title main container-fluid">
                    <div class=" questions row align-items-start">
                        <h1 class="col-3">Settings</h1>
                    </div>
                </span>
                <div class="Question input form">
                    <div class="input-group mb-3 container-fluid">
                        <div class="col-2">
                            <p>Login :</p>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        </div>

                    </div>
                    <div class="input-group mb-3 container-fluid">
                        <div class="col-2">
                            <p>Email :</p>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        </div>
                    </div>
                    <div class="input-group mb-3 container-fluid">
                        <div class="col-2">
                            <p>Nickname :</p>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        </div>

                    </div>
                    <div class="avatar input-group mb-3 container-fluid">
                        <div class="col-2">
                            <p>Upload avatar :</p>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <img class="col-12" src="" alt="upload img">
                            </div>
                            <div class="row">
                            <span class="justify-content-end">
                                <input type="file" class="form-control col-12" aria-label="Text input with dropdown button" style="width: auto">
                            </span>
                            </div>
                            <button type="button" class="btn btn-dark" style="width: 20%;margin-top: 10px">Save</button>

                        </div>


                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
